@font-face {
    font-family: 'Mollie Glaston';
    src: url('/fonts/mollie-glaston.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.table-wrapper {
    border-radius: 50px;
    border: 1px solid #000000
}
  
  .table-root thead th {
    font-family: inherit;
    color: #000000;
    font-weight: 300;
    font-size: 22px;
    text-align: left;
    padding: 1rem;
  }
  
  .table-root tbody td {
    font-family: inherit;
    font-size: 19px;
    font-weight: 300;
    padding: 1rem;
    text-align: left;
    color: #000000
  }
  
  .table-root tbody tr:hover {
    background-color: #f9f9f9;
    background-color: transparent;
  }

  button {
    font-family: inherit;
    font-size: 20px;
    color: #136e54;
  }

  .pagination {
    font-family: inherit;
  }
  